header img {
  /* background-image: url(../img/hotel\ picture.png); */
  width: 100%;
}
.carry {
  display: flex;
}
i {
  color: #e3b53f;
  /* background-color: #e3b53f; */
}
.fa {
  margin-left: 5px;
}
.About {
  display: flex;
}
.About h4 {
  margin-right: 50px;
}
.About h4:hover {
  cursor: pointer;
  margin-right: 50px;
  color: #e3b53f;
  margin-bottom: 2px solid #e3b53f;
}
.Standard {
  display: flex;
  justify-content: space-between;
}
/* .Standard img {
  width: 150%;
} */
.p {
  font-size: large;
  color: #e3b53f;
}
.pikin {
  display: none;
}
.carrier {
  display: flex;
  justify-content: space-between;
}
.pixture {
  border-radius: 20px;
  width: 100%;
  margin-left: 10px;
  /* margin-right: 40px; */
}
h5 {
  font-size: bolder;
}
button {
  /* display: flex;
  justify-content: end;
  align-self: end; */
  background-color: orangered;
  color: white;
  border: none;
  margin-left: 200px;
  width: 150px;
  border-radius: 10px;
  height: 50px;
}
.rev {
  background-color: #efebeb;
  margin-bottom: 20px;
  height: 200px;
}
.profile {
  display: flex;
  justify-content: space-between;
}
.span {
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  margin-bottom: 19px solid black;
  color: #e3b53f;
}
span {
  font-size: small;
}
#bottom-navigation {
  background-color: orangered;
}
